<% @posts.each do |post|%>
<h3><%= link_to post.article, post_path(post.id) %></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
   ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
</p>
<% end %>

